
body {
    background-color: blue;
    color: #fff;
}

#mainWrapper {
    display: block;
    margin: auto;
}

.box {
    width: 33%;
    height: 100px;
    font-size: 36px;
    padding: 20px;
    text-align: center;
}

#resetBtn {
    margin-bottom: 40px;
}

h1 {
    font-size: 64px;
    margin: 70px 0px;
}

h2 {
    font-size: 48px;
    margin: 40px 0px;
}

#box1, #box2, #box3, #box4, #box5, #box6 {
    border-bottom: 4px solid #fff;
}

#box1, #box2, #box4, #box5, #box7, #box8 {
    border-right: 4px solid #fff;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 48px;
    }

    .box {
        height: 80px;
    }
}